<h1>Users#show</h1>
<p> Username: <%= @user.username %><br />
Email: <%= @user.email %><br />
Wins: <%= @user.wins %><br />
Losses: <%= @user.losses %><br />
Silver: <%= @user.silver %><br /></p>

<%= link_to "Back", users_url %>